# NaCl phosphonet config file for pathfinding in random networks
# Assumes "-" are removed from gene names before running!
# DC Jan 2018

# background network
EDGE_LIBRARY	{BGNET}	null	1	0

# Matt's edges 
# Read in special edge type: matchType
EFEATURE	matchType=CatSet(Constituent|motif_match|motif_unmatched|Output|Shared_Interaction|unknown_recognition_motif)
EDGE_LIBRARY	{MODEDGES}	null	1	0|5

# souce module pairs
ST_PAIRS	pair	{PAIRFILE}

NFEATURE	ntype=Discrete(module|source)	"node type"	{NTYPES}	\t	1
NFILTER	source_f	EqualsFilter	ntype	source

# Get constituent edges for free
EFILTER	const_f	EqualsFilter	matchType	Constituent
EFILTERMANAGER	const_m	or	any	const_f

# Connect source-module pairs - allow paths to continue to multiple targets
PATHFINDER	paths	FreeEdgePairPathFinder	pair	3	const_m	CONTINUE		

GAMS_FILE	{OUT}/{OUTPREF}
OUT_PREFIX	{OUT}/{OUTPREF}
